<div class="cards">
  {# card pai #}

  <div class="card">
    <div class="card__img">
      <img src="./images/casquinha-recheada.png" alt="Produto em oferta"/>
    </div>

    <div class="card__info">
      <div class="card__title">
        2 CHEDDAR + BATATA PQ + FREE REFIL
      </div>

      <div class="card__price">R$ 25,00</div>
    </div>
  </div>

  <div class="card">
    <div class="card__img">
      <img src="./images/casquinha-recheada.png" alt="Produto em oferta"/>
    </div>

    <div class="card__info">
      <div class="card__title">
        2 CHEDDAR + BATATA PQ + FREE REFIL
      </div>

      <div class="card__price">R$ 25,00</div>
    </div>
  </div>

  <div class="card">
    <div class="card__img">
      <a href="/">
        <img src="./images/casquinha-recheada.png" alt="Produto em oferta"/>
      </a>
    </div>

    <div class="card__info">
      <div class="card__title">
        2 CHEDDAR + BATATA PQ + FREE REFIL
      </div>

      <div class="card__price">R$ 25,00</div>
    </div>
  </div>
</div>

<div class="see__offers">
  <a href="#" color="#ed7902">
    Confira todas as ofertas BK
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
  </a>
</div>