<div class="cards">

  <div class="card__highlight card__highlight-yellow">
    <div class="card__highlight-icons">

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
      </svg>
    </div>

    <div class="card__highlight-content ">
      <p>DESTAQUES IMPERDÍVEIS</p>
    </div>
  </div>

  <div class="card__highlight card__highlight-brown">
    <div class="card__highlight-content ">
      <p>
        CHAMA na
        <span class="card__highlight-red">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>

          Carne
          
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </span>
        grelhada
      </p>
    </div>
  </div>

  <div class="card__highlight">
    <div class="card__highlight-content ">
      <p>
        <span class="card__highlight-red">Vem de</span>
        <span class="fontsize-28px">Frango!</span>
      </p>
    </div>
  </div>

  <div class="card__highlight">
    <div class="card__highlight-content card__highlight-blue">
      <p>
        Sobremesa?<br/>
        Quero sim!
      </p>
    </div>
  </div>

  <div class="card__highlight">
    <div class="card__highlight-content">
      <p>
        Acompanha
        <span class="card__highlight-brown">O que?!</span>
      </p>
    </div>
  </div>

</div>